@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/static/Oswald-Bold.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
body{
  background-color: #007BFF;
}
#body{
    background-color: #ececec !important;
    height: 100%;
    overflow-y: hidden;        
}

#bodyIndex{
  background-color: #58A3FE !important;   
  height: 100%;
  overflow-y: hidden;        
}

#BodyContact{  
  background-color: #007BFF;
}

.row{
  margin-right: 0px !important;
}
#footer{    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
}
#footerAbout{  
  position: relative;
  left: 0;
  bottom: 0;    
  width: 100%;
  background-color: #333333;
}
.navbar-helper{
  position: relative;
  height: 80px;
  width: 100%;
}
.about-container{
  background-color:#ececec !important;
  position: relative;         
}
.about-container-fluid{
  background-color:#ececec !important;
  position: relative;
  padding-bottom: 5%;  
}
#aboutBody{
  background-color: #ececec !important;
}
#map{
  position: relative;
  width: 100%;
  height: 100%;  
  margin-top: 4%;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
.logo{
  border-radius: 50%;
  border: 2px solid #197BFF;
  
}
.margin-sm-right{
  margin-right: 5%;
}
.margin-sm-left{
  margin-left: 5%;
}
.margin-md-left{
  margin-left: 25%;
}
.margin-md-right{
  margin-right: 50px;
}
.white{
  color: #FFF !important;
}
.fnt-sm{
  font-size: 1em;
}
.fnt-md{
  font-size: 2em;
}
.fnt-lg{
  font-size: 3em;
}
.shadow{
  z-index: 10000;
  -webkit-box-shadow: 1px 6px 4px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 4px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 6px 4px -2px rgba(0,0,0,0.75);
}
.half-nav{
  height: 80px;
  width: 100%;
  z-index: 10000;
  position: fixed;  
}
.list{
  list-style: none;
}
.blue{
  color: #007BFF !important;
}

.popover{
  z-index: 10000;
}

.img-profile-container{
  margin-top: 5%;
  padding-left: 15%;  
  
}
.img-profile {
  border-radius: 50%;
}

.paragraph-title{
  font-family: 'Oswald';
  margin-top: 8%;  
}
.paragraph{
  font-family: Raleway;
  margin-top: 5%;
  font-size: medium;
  word-wrap: break-word;
  padding-right: 10%;
  text-align: justify;
}
.card{
  position: relative;
  width: 500px;  
  background-color: #FFF;
  margin: auto;
  margin-top: 2%;
  border-radius: 2%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.card-plane{
  position: relative;
  width: 90%;  
  background-color: #FFF;
  margin: auto;  
  border-radius: 2%;
  padding: 1%;
}

.card-image > img{
  position: relative;
  border-radius: 2% 2% 0% 0%;
  width: 100%;

}
.card-text{
  position: relative;
  width: 90%;
  margin: auto;
  text-align: justify;
}
.news-container{
  background-color:#007BFF !important;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5%;  
}

.swiper-container{
  background-color: #007BFF;
}

.glideDefault{
  margin-top: 5%;
}

.hide{
  visibility: hidden;
}

#logoImg{
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.responsiveContainer{
  position: relative;
  width: 60%;
}

.responsiveContainer > image{
  width: 100px;
  height: 100px;
}

.justify-left{
  text-align: left;
}

.jumbo{
  font-size: 38em;
  color: #FFF;
  padding-left: 5%;
}
.contact{
  background-color: #007BFF;
  padding-top: 3%;
}
